body {background-image: url("gold2.jpg")}
  h1 {color:white}
  p {font-size: 20px;
    color:white;
    font-weight: bold;
    }
    
        /* #first,#p1{
            color:blue;
            font-size: 22 
        } */
      
      .learning {color:darkslategray;
      background-color: darkgrey}
      div{
        color:whitesmoke;
          width:100%;height: 600px; 
          }
    img{width: 450; height: 400;
      opacity: 0.5;
        float:left ; padding-right: 20px }      
        a:hover{color:gray;
        }

        /* div:hover{background-color: chocolate} */
        #hh2{color:green;
             font-size: 34px;
            /* background-image: url("Gold.jpg"); */
          width:100% ;height:300;}
          /* background-repeat: no-repeat;
        background: size 100%;  } */
      #w1{float: right;}